ACCESS_CODE=changeme
YOUTUBE_API_KEY=AIzaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
YOUTUBE_CHANNEL_ID=UCxxxxxxxxxxxxxxxxxxxxxxxxx
SOUNDCLOUD_PROFILE_URL=https://soundcloud.com/yourusername
MUSIC_DIR=/music
DATA_DIR=/data
